[submodule "Unit4/Pathway3/basic-android-kotlin-compose-training-reply-app"]
	path = Unit4/Pathway3/basic-android-kotlin-compose-training-reply-app
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-reply-app.git
[submodule "Unit4/Pathway3/basic-android-kotlin-compose-training-sports"]
	path = Unit4/Pathway3/basic-android-kotlin-compose-training-sports
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-sports.git
[submodule "Unit5/Pathway1/basic-android-kotlin-compose-training-race-tracker"]
	path = Unit5/Pathway1/basic-android-kotlin-compose-training-race-tracker
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-race-tracker.git
[submodule "Unit5/Pathway2/basic-android-kotlin-compose-training-mars-photos"]
	path = Unit5/Pathway2/basic-android-kotlin-compose-training-mars-photos
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-mars-photos.git
[submodule "Unit5/Pathway2/basic-android-kotlin-compose-training-amphibians"]
	path = Unit5/Pathway2/basic-android-kotlin-compose-training-amphibians
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-amphibians.git
[submodule "Unit6/Pathway1/android-basics-kotlin-sql-basics-app"]
	path = Unit6/Pathway1/android-basics-kotlin-sql-basics-app
	url = https://github.com/google-developer-training/android-basics-kotlin-sql-basics-app.git
[submodule "Unit6/Pathway2/basic-android-kotlin-compose-training-inventory-app"]
	path = Unit6/Pathway2/basic-android-kotlin-compose-training-inventory-app
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-inventory-app.git
[submodule "Unit6/Pathway2/basic-android-kotlin-compose-training-bus-schedule-app"]
	path = Unit6/Pathway2/basic-android-kotlin-compose-training-bus-schedule-app
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-bus-schedule-app.git
[submodule "Unit6/Pathway3/basic-android-kotlin-compose-training-dessert-release"]
	path = Unit6/Pathway3/basic-android-kotlin-compose-training-dessert-release
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-dessert-release.git
[submodule "Unit7/Pathway1/basic-android-kotlin-compose-training-workmanager"]
	path = Unit7/Pathway1/basic-android-kotlin-compose-training-workmanager
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-workmanager.git
